@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Montserrat, system-ui, sans-serif;
      font-style: normal;
    }
    body {
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
}